// postcss-bem-linter: define app
.rpwa-app {
  text-align: center;

  &__logo {
    height: 80px;
    animation: spin infinite 20s linear;
  }

  &__header {
    height: 150px;
    padding: 20px;
    background-color: #222;
    color: white;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__intro {
    font-size: large;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
// postcss-bem-linter: end
